body {
  margin: 0;
	padding: 0;
	background-color: #2185f6;
}

.wrap {
	text-align: center;
}

#app {
	margin-top: 50px;
	margin-bottom: 50px;
}

#first {
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

button:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}